body {
    --main-color: #e92a2a;
    --gray-color: #3e3e3e;
    --max-width: 900px;
    --font-family: sans-serif;
    --font-size-base: 16px;
    --space: 10px;

    font-family: var(--font-family);
    color: var(--gray-color);
    font-size: var(--font-size-base);
    line-height: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--main-color);
    margin-top: calc(var(--space) * 4);
}
h2,h3,h4,h5,h6 {
    color: var(--gray-color);
}
h1 {
    font-size: calc(var(--space) * 4);
    margin-top: calc(var(--space) * 10);
    /* margin-bottom: calc(var(--space) * 8); */
}
h2 { font-size: calc(var(--space) * 2.4); }

a {
    color: var(--main-color);
    text-decoration: underline;
    text-decoration-style: dotted;
    line-height: calc(var(--space) * 2);
}

ul {
  list-style: none; /* Remove default bullets */
  padding-left: calc(var(--space) * 2);
}
li {
    margin-bottom: calc(var(--space));
}
li:before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--main-color);
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}
